@import url(//fonts.googleapis.com/css?family=Lato:300:400);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}

header {
  display: flex;
  justify-content: space-between;

  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 15pt;
  color: #fff;
}

.header-options {
	display:flex;
	flex-direction: row;
}

.detalhes {
  text-decoration: none;
  color: #fff;
}

p {
  font-family: 'Lato', sans-serif;
  margin: 10px;
}

.corpo {
	background: linear-gradient(116.55deg, #1461D5 3.68%, #0099FF 100%);
	background-size: 100%;
	min-height: 100vh;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.timer {
	color: #fff;
	font-size: 70pt;
}

.todo-app {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 50%;
	background: #161a2b;
	text-align: center;
	border-radius: 10px;
}
  
.title {
	margin: 32px 0;
	color: #fff;
	font-size: 24px;
}
  
.complete {
	text-decoration: line-through;
	opacity: 0.4;
}
  
.todo-form {
	margin-bottom: 32px;
}
  
.todo-input {
	padding: 14px 32px 14px 16px;
	border-radius: 4px 0 0 4px;
	border: 2px solid #149fff;
	outline: none;
	width: 50%;
	background: transparent;
	color: #fff;
}
  
.todo-input::placeholder {
	color: #e2e2e2;
}
  
.todo-button {
	padding: 16px;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	outline: none;
	background: linear-gradient(
	  90deg,
	  rgba(20, 159, 255, 1) 0%,
	  rgba(17, 122, 255, 1) 100%
	);
	color: #fff;
	text-transform: capitalize;
}
  
.todo-input.edit {
	border: 2px solid #149fff;
}
  
.todo-button.edit {
	background: linear-gradient(
	  90deg,
	  rgba(20, 159, 255, 1) 0%,
	  rgba(17, 122, 255, 1) 100%
	);
	padding: 16px 22px;
}
  
.todo-container {
	display: flex;
	flex-direction: row;
	position: relative;
}
  
.todo-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4px auto;
	color: #000;
	background: #fff;
	border: 2px solid #000;
  
	padding: 16px;
	border-radius: 5px;
	width: 90%;
}
  
.todo-row p{
	cursor: pointer;
}
  
.icons {
	display: flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}
  
.delete-icon {
	margin-right: 5px;
	color: #000;
}
  
.edit-icon {
	color: #000;
}

@media only screen and (max-width: 450px) {
	.todo-app {
		width: 70%;
	}
	.todo-input {
		width: 80%;
	}
	.todo-button {
		padding: 10px;
		border-radius: 4px;
	}

	.todo-button.edit {
		padding: 10px;
	}
}