@import url(//fonts.googleapis.com/css?family=Lato:300:400);

*{
	margin: 0;
	padding: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}

header {
	display: flex;
	justify-content: space-between;

	font-family: 'Lato', sans-serif;
  	letter-spacing: 1px;
  	font-size: 15pt;
  	color: #fff;
}

p {
  font-family: 'Lato', sans-serif;
  margin: 10px;
}

.corpo {
	background: linear-gradient(116.55deg, #1461D5 3.68%, #0099FF 100%);
}

.container{
	height: 93vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.timer {
	color: #fff;
	font-size: 70pt;
}