*{
    margin: 0;
}

.sobre {
    background-color: #fff;
    padding-bottom: 130;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

.sobre h1 {
    margin: 100px;
}

.sobre p {
    width: 70%;
    text-align: center;
    margin: 50px
}

footer{
    text-align: center;
}